{% from "button.twig" import btn %}
{% extends "__layout.twig" %}
{% block content %}
<style>
    .card-img-top {
        height: 450px;
        object-fit: cover;
        width: 100%;
    }
</style>
<div class="container row row-cols-4">
    {% for object in cinema_objects %}
        {% include 'list_item.twig' %}
    {% endfor %}
</div>
{% endblock %}