{% extends "__layout.twig" %}
{% block content %}
<br>
<ul class = "list-group">
{% for item in menu_items %}
    <li class = "list-group-item">
        {% include 'list_item.twig' %}
    </li>
{% endfor %}
</ul>
{% endblock %}