{% from "button.twig" import btn %}
{% extends "__layout.twig" %}
{% block content %}
{# <p>Здесь информация о фильме "{{title}}"</p> #}
<p>{{description}}</p>
<ul class="nav nav-pills">
  <li class="nav-item">
    {{btn("Картинка", "/cinema-objects/" ~ id ~ "/image", is_image ? true)}}
  </li>
  <li>
    {{btn("Описание", "/cinema-objects/" ~ id ~ "/info", is_info ? true)}}
  </li>
</ul>
<br>
<div class = "container">
    {% block objectContext %}
    {% endblock %}
</div>
{% endblock %}